* {
    margin: 0;
    padding: 0;
    /* font-size: 20px; */
}

nav {
    background-color: #A73121;
    /* padding: 0 5%; */
    position: fixed;
    width: 100%;
}

nav .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;

}

nav .nav>a {
    color: #952323;
    border-radius: 10px 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #F2E8C6;
    border: 1px solid #F2E8C6;
    width: 140px;
    text-align: center;
    padding: 3px;
}
nav .nav>a:nth-of-type(1){
    margin-left: 15px;
}
nav .nav>a:nth-of-type(2){
    margin-right: 15px;
}

nav .nav .mid-nav a {
    display: inline-block;
    color: #952323;
    text-decoration: none;
    border-right: 1px solid #A73121;
    width: calc(100%/3);
    text-align: center;
    /* padding: 0 10px; */
    /* height: 80%; */
    margin: auto 0;
}

nav .nav .mid-nav a:last-of-type {
    border: 0;
}

nav .nav .mid-nav {
    background-color: #F2E8C6;
    border: 1px solid #F2E8C6;
    border-radius: 10px 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.hero {
    color: #F2E8C6;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(image/bg-rt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero .text-hero {
    /* background-color */
    width: 700px;
    padding: 10px 0;
    border: 3px solid #A73121;
    border-radius: 20px 20px;
    margin: 0 5px;
}

.hero p {
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}

.hero p:nth-of-type(3) {
    padding: 20px;
    font-size: 75px;
    color: #A73121;
    text-shadow: 1px 1px 10px #F2E8C6;
}
.galeri{
    background-color: #F2E8C6;
    width: 100%;
    /* height: 100vh; */
}
.galeri h2{
    text-align: center;
    color: #952323;
    font-weight: bold;
    font-size: 50px;
    padding: 50px 0;
    
}
.galeri-row{
width: 100%;
height: 50%;

/* background-color: aqua; */
display: flex;
justify-content: space-evenly;
}
.galeri-column{
    width: 25%;
    /* background-color: purple; */

}

.galeri-column h3{
    font-size: 25px;
    text-align: center;
    color: #A73121;
    margin-bottom: 10px;
}
.galeri-column img{
    width: 100%;
    border-radius: 10px 10px;
}
.space-bottom{
    height: 30px;
    width: 100%;
}
.about-me{
    /* min-height: 100vh    ; */
    width: 100%;
    background-color: #952323;
}
.about-me img{
    background-color: #F2E8C6;
}
.col{
    padding:65px 10px 20px 10px;
    text-align: center;
}
.main-image{
    margin-top: 20px;
    /* display: block; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #F2E8C6;
    text-align: center;
    box-shadow: 0 0 50px #F2E8C6;
}
.col h2{
    padding-top: 40px;
    font-size: 30px;
    color: #F2E8C6;
    letter-spacing: 5px;
}
.col .paragraph{
    text-align: center;
    margin-top: 50px;
    padding :0 10%; 
}
.col .paragraph p{
    color: #F2E8C6;
    display: inline;
}

h4,h3{
    color: #F2E8C6;
}
.footer{
    background-color: black;
    height: 50px;
}
.footer p{
    color: #F2E8C6;
    text-align: center;
    padding-top:15px;
}
@media (576px <=width < 768px) {
    nav .nav {
        flex-direction: column;
        align-items: center;
    }
    nav .nav>a{
        width:50%;
    }

    nav .nav .mid-nav {
        margin: 7px;
        width: 50%;
    }
    .hero{
        height: 100vh;
    }
    .hero p {
        font-size: 35px;
    }

    .hero p:nth-of-type(3) {
        /* padding: 20px; */
        font-size: 60px;

    }

    .hero .text-hero {
        /* margin-top: 15vh; */
        /* background-color */
        width: 530px;
        padding: 10px 0;
        border: 3px solid #A73121;
        border-radius: 20px 20px;
    }
    .col{
        padding: 0;
    }
    .col .paragraph{
        padding :0 5%;
    }
}

@media (width < 576px) {
    nav .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
    }
    nav .nav>a{
        width:60%;  
    }
    nav .nav>a:nth-of-type(2)
    {
    display: none;
    }
    
    nav .nav .mid-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: 60%;
        display:none;
        /* margin: 0 auto; */
    }

    nav .nav .mid-nav a {
        /* display: inline-block; */
        text-decoration: none;
        border-bottom: 1px solid #A73121;
        border-right: 0;
        width: 96%;
        text-align: center;
        padding: 3px 0;
        height: 80%;
    }
    .hero{
        height: 100vh;
    }
    .hero p {
        font-size: 25px;
    }

    .hero p:nth-of-type(3) {
        padding: 20px;
        font-size: 50px;
        
    }

    .hero .text-hero {
        margin-top: 30vh;
        /* background-color */
        width: 400px;
        padding: 10px 0;
        border: 3px solid #A73121;
        border-radius: 20px 20px;
    }

    .hero {
        align-items: flex-start;
    }
    .col{
        padding: 0;
    }
    .col .paragraph{
        padding :0 5%;
    }
    .main-image{
        height: 200px;
        width: 200px;
    }
}
@media (width < 768px) {
    .galeri-row{
        flex-direction: column;
        align-items: center;
    }
    .galeri-column img{
       

    }
    .galeri-column{
        width: 75%;
        /* display: flex; */
    }
    nav .nav>a:nth-of-type(1){
        margin-left: 0px;
    }
    nav .nav>a:nth-of-type(2){
        margin-right: 0px;
    }
    div.col{
        padding-bottom: 20px;
    }
}